In [8]:
##Sequence Data Types ---> Used to store multiple values or elements
#1.List
#2.Tuple
#3.Set
#4.String
#5.Range


#What is list?
#How to create a list?

##->T

student_marks = [87,67,98,54,55,75]
print(student_marks)
print(type(student_marks))
print(student_marks[2])
print(student_marks[-4])
print(student_marks[3:5])

[87, 67, 98, 54, 55, 75]
<class 'list'>
98
98
[54, 55]

In [9]:
student_details = ["Shreesh",23,9347245607,98.9,True]
print(student_details)
print(type(student_details))

['Shreesh', 23, 9347245607, 98.9, True]
<class 'list'>

In [13]:
student_marks1 = [87,67,98,54,55,75,98]
print(student_marks1)

##List elements are mutable(can be changed with the data)
student_marks1[3]=65
print(student_marks1)

student_marks1[0] = student_marks1[-1]
print(student_marks1)

[87, 67, 98, 54, 55, 75, 98]
[87, 67, 98, 65, 55, 75, 98]
[98, 67, 98, 65, 55, 75, 98]

In [16]:
#Tuple => It will be created using()
#Tuple elements are immutable

T1 = (1000,2000,3000,4000,5000)

print(T1)
print(type(T1))
print(T1[-1])
print(T1[:])

T1[-1]=6000
print(T1)

(1000, 2000, 3000, 4000, 5000)
<class 'tuple'>
5000
(1000, 2000, 3000, 4000, 5000)

TypeError: 'tuple' object does not support item assignment

In [19]:
#Set => It will store elements in random order fashion.
#Set does not support indexing
#Set is created by using{}
#Set does not allow duplicates

s1 = {10,20,30,40,50}
print(s1)
#print(s1[1])
print(type(s1))
print(len(s1))

{50, 20, 40, 10, 30}
<class 'set'>
5

In [21]:
# String => It is a data type where the data is represented in single quotes or double quotes
#String is immutable
#String follows indexed number

name = 'Brigade Techpark'


print(name)
print(name[0])
#name[0] = b
print(name)

Brigade Techpark
B
Brigade Techpark

In [27]:
#Range ( ) => TO get the values/elements between the Range (or) If we want to generate the numbers according to the range


#When we want to generate numbers upto 100

#range(stop+1) => It will generate numbers from 0 to stop

nums = list(range(101))

print(nums)
print(type(nums))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
<class 'list'>

In [29]:
#When I want to generate numbers from 10 to 50
#Range(start,stop+1) => It will generate numbers from start and to stop

numbers = tuple(range(10,51))
print(numbers)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50)

In [31]:
#When I want to generate multiples of 5

#Table_of_five = set(range(5,51,5))
#print(Table_of_five)

Table_of_five = list(range(5,51,5))
print(Table_of_five)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [33]:
#When we want to generate numbers from 500 to 200 all even numbers

nums2 = list(range(500,199,-2))
print(nums2)

[500, 498, 496, 494, 492, 490, 488, 486, 484, 482, 480, 478, 476, 474, 472, 470, 468, 466, 464, 462, 460, 458, 456, 454, 452, 450, 448, 446, 444, 442, 440, 438, 436, 434, 432, 430, 428, 426, 424, 422, 420, 418, 416, 414, 412, 410, 408, 406, 404, 402, 400, 398, 396, 394, 392, 390, 388, 386, 384, 382, 380, 378, 376, 374, 372, 370, 368, 366, 364, 362, 360, 358, 356, 354, 352, 350, 348, 346, 344, 342, 340, 338, 336, 334, 332, 330, 328, 326, 324, 322, 320, 318, 316, 314, 312, 310, 308, 306, 304, 302, 300, 298, 296, 294, 292, 290, 288, 286, 284, 282, 280, 278, 276, 274, 272, 270, 268, 266, 264, 262, 260, 258, 256, 254, 252, 250, 248, 246, 244, 242, 240, 238, 236, 234, 232, 230, 228, 226, 224, 222, 220, 218, 216, 214, 212, 210, 208, 206, 204, 202, 200]