In [1]:
for i in range(1501,2700):
    if i % 7 == 0 and i % 5 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [4]:
s = str(input("Enter a string to get its reverse: "))

r = s[::-1]

print(r)

Enter a string to get its reverse: VINTAGE
EGATNIV

In [7]:
n = (1,2,3,4,5,6,7,8,9)
e = 0
o = 0
for i in n:
    if i % 2 == 0:
        e += 1
    else:
        o += 1
print("Number Of Even Numbers are: ",e)
print("Number Of Odd Numbers are: ",o)

Number Of Even Numbers are:  4
Number Of Odd Numbers are:  5

In [12]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i,end=',')

0,1,2,4,5,

In [ ]:
st = str(input("Enter a String with digits to find number of letters and digits are there: "))

c  = 0
nu = 0

for c in st:
    if c == str:
        c += 1
for nu in st:
    if nu == int:
        nu += 1

In [2]:
def c_l_a_d(ins):
    l = 0
    d = 0
    
    for c in ins:
        if c.isalpha():
            l += 1
        elif c.isdigit():
            d += 1
        
    print(f"Letters {l}")
    print(f"Digits {d}")

st = input("Enter a string:")
c_l_a_d(st)

Enter a string:8923besant
Letters 6
Digits 4

In [19]:
m = str(input("Enter a month to know how may days it has in it: "))

d = {
             'January'  : "31 days",
             'February' : "28/29 days",
             'March'    : "31 days",
             'April'    : "30 days" ,
             'May'      : "31 days",
             'June'     : "30 days",
             'July'     : "31 days",
             'August'   : "31 days",
             'September': "30 days",
             'October'  : "31 days",
             'November' : "30 days",
             'December' : "31 days"
}

if m is (d):
    print("Enter a Valid month name")
else:
    print(d[m])

Enter a month to know how may days it has in it: January
31 days

In [2]:
def f_m(n1,n2,n3):
    
    n = [n1,n2,n3]
    
    n.sort()
    
    m = n[1]
    
    return m
try :
    n1 = float(input("Enter the First Number: "))
    n2 = float(input("Enter the Second Number: "))
    n3 = float(input("Enter the Third Number: "))
    
    m = f_m(n1,n2,n3)
    
    print(f"The median is: {m}")
    
except ValueError:
    print("Enter Valid Numbers")

Enter the First Number: 6.5
Enter the Second Number: 1.7
Enter the Third Number: 7.5
The median is: 6.5

In [8]:
def m_t(n):
    print(f"Table for {n}: ")
    i = 1
    while i <= 10:
        r = n * i
        print(f"{n} x {i} = {r}")
        i += 1
try:
    n = int(input("Enter any number to find its table: "))
    m_t(n)
except ValueError:
    print("Entered number is not valid")

Enter any number to find its table: 56
Table for 56:
56 x 1 = 56
56 x 2 = 112
56 x 3 = 168
56 x 4 = 224
56 x 5 = 280
56 x 6 = 336
56 x 7 = 392
56 x 8 = 448
56 x 9 = 504
56 x 10 = 560

In [9]:
def m_t(n):
    print(f"Table for {n}: ")
    i = 1
    while i <= 10:
        r = n * i
        print(f"{n} x {i} = {r}")
        i += 1
try:
    n = float(input("Enter any number to find its table: "))
    m_t(n)
except ValueError:
    print("Entered number is not valid")

Enter any number to find its table: 65.7
Table for 65.7:
65.7 x 1 = 65.7
65.7 x 2 = 131.4
65.7 x 3 = 197.10000000000002
65.7 x 4 = 262.8
65.7 x 5 = 328.5
65.7 x 6 = 394.20000000000005
65.7 x 7 = 459.90000000000003
65.7 x 8 = 525.6
65.7 x 9 = 591.3000000000001
65.7 x 10 = 657.0

In [15]:
a = float(input("Length of the First Side  a: "))
b = float(input("Length of the Second Side b: "))
c = float(input("Length of the Third Side  c: "))

if a == b == c:
    print("Equilateral Traingle")

elif a == b or b == c or a == c:
    print("Isosceles Traingle")
    
else:
    print("Scalene Traingle")

Length of the First Side  a: 7
Length of the Second Side b: 8
Length of the Third Side  c: 8
Isosceles Traingle

In [21]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
            print("*",end=" ")
    print("\n")

Enter number of rows: 7
*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [24]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
            print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [36]:
n = 5
for i in range(n,0,-1):
    for j in range(0,i):
            print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [46]:
n = 5
for i in range(1, n + 1):
    
    for j in range(n - i):
            print(" ",end = " ")
    
    for k in range(i):
        if k == i - 1:
            print("*",end = " ")
        else:
            print("*",end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [48]:
n = 5
for i in range (1,n+1):
    
    for j in range (n - i):
        print(" ", end = " ")
    
    for k in range(i):
        if k == i - 1:
            print("*", end = " ")
        else:
            print("*", end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [64]:
n = 5
for i in range (1,n+1):
    
    for j in range (n - i):
        print(" ", end = "")
    
    for k in range(i):
        if k == i - 1:
            print("*", end = "")
        else:
            print("* ", end = "")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [110]:
n = 5
for i in range (n,0,-1):
    
    for j in range (n - i):
        print(" ", end = "")
    
    for k in range(i):
        if k == i - 1:
            print("* ", end = "")
        else:
            print("* ", end = "" )
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [198]:
n = 6
for i in range (1,n+1):
    
    for j in range (n - i):
        print(" ", end = "")
    
    for k in range(i):
        if k == i - 1:
            print("*", end = "")
        else:
            print("*", end = " ")
    print()
for i in range (n-1,0,-1):
    
    for j in range (n - i):
        print(" ", end = "")
    
    for k in range(1,i+1):
        if k == i:
            print("*", end = "")
        else:
            print("*", end = " " )
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [204]:
p = float(input("Principle Amount : "))
t = float(input("Time in Years    : "))
r = float(input("Rate Of Interest : "))

si = p*t*r/100

a  = si + p

print("Simple Interest         = ",si)
print("Total Amount to be paid =",a)

Principle Amount : 20000
Time in Years    : 2
Rate Of Interest : 10
Simple Interest         =  4000.0
Total Amount to be paid = 24000.0

In [206]:
def s_m():
    t_s = 0
    
    while True:
        try:
            n = float(input("Enter number of numbers to find their sum(enter 0 to stop): "))
            
            if n == 0:
                break
            t_s += n
        except ValueError:
            print("Invalid input. Enter a Valid Number...!")
    print(f"The sum of the numbers entered is: {t_s}")

s_m()

Enter number of numbers to find their sum(enter 0 to stop): 45
Enter number of numbers to find their sum(enter 0 to stop): 90
Enter number of numbers to find their sum(enter 0 to stop): 95
Enter number of numbers to find their sum(enter 0 to stop): 89
Enter number of numbers to find their sum(enter 0 to stop): 0
The sum of the numbers entered is: 319.0

In [207]:
n = str(input("Enter a number to reverse it : "))

r = n[::-1]

print(r)

Enter a number to reverse it : 6789
9876

In [210]:
def fibonacci(limit):
    # Initialize the first two Fibonacci numbers
    a, b = 0, 1
    
    # Print the first two numbers (0 and 1)
    print(a, end=" ")
    if limit > 0:
        print(b, end=" ")
    
    # Generate and print subsequent Fibonacci numbers
    while True:
        c = a + b
        if c > limit:
            break
        print(c, end=" ")
        a = b
        b = c

# Input from the user
try:
    limit = int(input("Enter the limit for the Fibonacci series: "))
    fibonacci(limit)
except ValueError:
    print("Please enter a valid integer.")

Enter the limit for the Fibonacci series: 89
0 1 1 2 3 5 8 13 21 34 55 89

In [218]:
i = n
n = int(input("Enter any number to find reverse order from it: "))
for i in range(n,0,-1):
    print(i)

Enter any number to find reverse order from it: 3
3
2
1